body {
margin: 0;
padding: 0;
background: linear-gradient(135deg, #e9f5e1, #ffffff);
font-family: "Poppins", sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}
.topo {
text-align: center;
padding: 50px 20px;
}


.topo h1 {
font-size: 42px;
color: #3f5b36;
margin-bottom: 10px;
}


.topo p {
font-size: 18px;
color: #5f6f59;
}

.ingressos-container {
max-width: 1200px;
width: 100%;
display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
padding-bottom: 50px;
}

.card-ingresso {
background: #ffffff;
width: 320px;
padding: 30px;
border-radius: 22px;
box-shadow: 0 15px 35px rgba(0,0,0,0.15);
text-align: center;
border-left: 8px solid #5C4738;
transition: 0.25s ease-in-out;
}


.card-ingresso.meia {
border-left: 8px solid #5C4738;
}


.card-ingresso.vip {
border-left: 8px solid #5C4738;
}


.card-ingresso:hover {
transform: translateY(-10px) scale(1.05);
box-shadow: 0 22px 50px rgba(0,0,0,0.25);
}


.card-ingresso h2 {
font-size: 26px;
color: #3f3f3f;
margin-bottom: 12px;
}


.preco {
font-size: 34px;
font-weight: bold;
color: #2f4a27;
margin: 10px 0 18px;
}


.desc {
font-size: 16px;
color: #5a5a5a;
margin-bottom: 25px;
}

.btn-comprar {
display: block;
text-decoration: none;
background: #4d6f3c;
color: white;
padding: 14px 20px;
border-radius: 12px;
font-size: 18px;
cursor: pointer;
transition: 0.25s;
width: 100%;
font-weight: 600;
}


.btn-comprar:hover {
background: #3d5b30;
transform: scale(1.04);
}
body::-webkit-scrollbar {
    width: 10px;               
}

body::-webkit-scrollbar-track {
    background: #f0f0f0;     
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: #5C4738; 
    border-radius: 6px;
    border: 3px solid #f0f0f0; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #7a5c44; 
}