body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e9f5e1, #ffffff);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.container {
    width: 95%;
    max-width: 900px;
    background: #fff;
    margin-top: 40px;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    font-size: 38px;
    color: #3f5b36;
    margin-bottom: 10px;
}

.sub {
    text-align: center;
    color: #5f6f59;
    margin-bottom: 30px;
}


.login-box,
.pagamento-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 35px;
}

.beneficios {
    background: #f4f8f1;
    padding: 25px;
    border-radius: 16px;
    margin-top: 30px;
    margin-bottom: 35px;  
    border-left: 8px solid #5a7b4e;
}

.beneficios h2 {
    margin: 0 0 10px;
    color: #4b6a3d;
    font-size: 22px;
}

.beneficios ul {
    padding-left: 20px;
    margin: 0;
}

.compra h2 {
    color: #4a4a4a;
    margin-bottom: 10px;
    font-size: 26px;
}

.preco {
    font-size: 28px;
    margin-bottom: 20px;
    color: #304d26;
}

.cartao-info label {
    margin-top: 10px;
}

label {
    font-weight: 600;
    color: #3a3a3a;
}

input,
select {
    padding: 12px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

input:focus,
select:focus {
    border-color: #5a7b4e;
}

.btn {
    background: #4d6f3c;
    color: white;
    padding: 14px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.25s;
    margin-top: 10px;
}

.btn:hover {
    background: #3d5b30;
    transform: scale(1.04);
}

.meia-page .beneficios {
    border-left-color: #b78f3b;
}

.meia-page .btn {
    background: #b78f3b;
}

.meia-page .btn:hover {
    background: #9a742f;
}

.vip-page .beneficios {
    border-left-color: #803c3c;
}

.vip-page .btn {
    background: #803c3c;
}

.vip-page .btn:hover {
    background: #692f2f;
}
body::-webkit-scrollbar {
    width: 10px;               
}

body::-webkit-scrollbar-track {
    background: #f0f0f0;     
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: #5C4738; 
    border-radius: 6px;
    border: 3px solid #f0f0f0; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #7a5c44; 
}